<!DOCTYPE html>
<html>
    <head>
        <title>SG Store</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/yellow.css">
  
  <!-- ng-dialog -->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/css/ngDialog.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/css/ngDialog-theme-default.css" type="text/css" />
  

    </head>
    
    <body ng-app="storeApp" ng-cloak>
      
  <div class="app app-blue-sky">

<div ng-controller="storeMenuController as storeCtrl">
  
<aside class="{{storeCtrl.class}}" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">SG</span> Store</a>
    <button type="button" class="sidebar-toggle" ng-click="storeCtrl.openItem()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li ui-sref="home">
        <a style="cursor:pointer" ng-click="storeCtrl.openItem()">
          <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="title">Bienvenido</div>
        </a>
      </li>
      <li  ui-sref="store" ng-click="storeCtrl.openItem()">
        <a  style="cursor:pointer">
          <div class="icon">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
          <div class="title">Tienda</div>
        </a>
      </li>
      <li ui-sref="cart" ng-click="storeCtrl.openItem()">
        <a style="cursor:pointer">
          <div class="icon">
            <i class="fa fa-money" aria-hidden="true"></i>
          </div>
          <div class="title">Carrito</div>
        </a>
      </li>
      <li>
        <a>
          <div class="icon" ng-click="storeCtrl.openItem()">
            <i class="fa fa-file-o" aria-hidden="true"></i>
          </div>
          <div class="title">About</div>
        </a>
        
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a>
          App Version 1.0
        </a>
      </li>
      
    </ul>
  </div>
</aside>

<div class="app-container">

   <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle" ng-click="storeCtrl.openMenu()">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">SG</span> Store</a>
        </li>
        <li>
          <button type="button" class="navbar-toggle">
            <img class="profile-img" src="./assets/images/profile.png">
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title">SG Store - Bienvenida</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown profile">
          <a href="/html/pages/profile.html" class="dropdown-toggle" data-toggle="dropdown">
            <img class="profile-img" src="https://avatars2.githubusercontent.com/u/17608169?v=3&s=460">
            <div class="title">Profile</div>
          </a>
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username">Desarollador por <br>Sebastian Guevara</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
       <ui-view> </ui-view>

</div>
 

  <footer class="app-footer"> 
  <div class="row">
      <br>
    <div class="col-xs-12">
      <div class="footer-copyright">
        Desarollado por : Sebastian Guevara -  © 2017.
      </div>
    </div>
  </div>
</footer>
</div>

  </div>
  
 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>

  <script type="text/javascript" src="./src/store.module.js"></script>
    <script type="text/javascript" src="./src/menu.module.js"></script>

  <script type="text/javascript" src="./src/routes.js"></script>
  <script type="text/javascript" src="./src/data.service.js"></script>
  <script type="text/javascript" src="./src/car.module.js"></script>
  <script type="text/javascript" src="./src/car.service.js"></script>
  
  <!-- ng-dialog -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/js/ngDialog.min.js"></script>  

 
</body>

    
</html>