<!DOCTYPE html>
<html>
    <head>
        <title>SG Store</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

  <link rel="stylesheet" type="text/css" href="./assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/flat-admin.css">
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  
  <script type="text/javascript" src="./src/store.module.js"></script>
  <script type="text/javascript" src="./src/data.service.js"></script>

  <!-- Theme -->
 

    </head>
    
    <body ng-app="storeApp">
  <div class="app app-default" ng-controller="storeController as storeCtrl" ng-init="storeCtrl.getData()">

<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">SG</span> Store</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li class="">
        <a>
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Bienvenido</div>
        </a>
      </li>
      <li class="@@menu.messaging">
        <a href="../messaging.html">
          <div class="icon">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="title">Tienda</div>
        </a>
      </li>
      <li>
        <a>
          <div class="icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
          </div>
          <div class="title">Faq</div>
        </a>
      </li>
      <li>
        <a>
          <div class="icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
          </div>
          <div class="title">About</div>
        </a>
        
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a>
          App Version 1.0
        </a>
      </li>
      
    </ul>
  </div>
</aside>


<div class="app-container">
  <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">SG</span> Store</a>
        </li>
        <li>
          <button type="button" class="navbar-toggle">
            <img class="profile-img" src="./assets/images/profile.png">
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title">SG Store - Tienda</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown profile">
          <a href="/html/pages/profile.html" class="dropdown-toggle" data-toggle="dropdown">
            <img class="profile-img" src="https://avatars2.githubusercontent.com/u/17608169?v=3&s=460">
          </a>
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username">Desarollador por <br>Sebastian Guevara</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <div class="row">
    
    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
                <div class="app-heading">
        <div class="app-title">
          <div class="title">Optimiza tu busquedad utilizando <span class="highlight">Smart Filter</span></div>
          <div class="description">Encuentra todo más facil ya sea por nombre , precio, categoria, disponibilidad y más vendidos.</div>
          <button class="btn btn-success" ng-click="storeCtrl.getFilter()">Usar Smart Filter</button>
        </div>
      </div>

        </div>
        <div class="card-body" ng-show="storeCtrl.filter">
          <form class="form form-horizontal">
  <div class="section">
    <div class="section-title">Optimiza tu Busquedad</div>
    <div class="section-body">
      <div class="form-group">
        <label class="col-md-1 control-label">Nombre</label>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="productNameSearch" placeholder="">
        </div>
         <label class="col-md-1 control-label">Categoria</label>
      <div class="col-md-4">
<select class="select2" ng-model=storeCtrl.categorySearch>
                      <option ng-value="" ng-selected="selected">Ninguna</option>
                       <option ng-repeat="category in storeCtrl.categories" ng-value="category.categori_id">{{category.name}}</option>
    </select>
        </div>               
      </div>
      
    
      <div class="form-group">
        <div class="col-md-1">
          <label class="control-label">Precio</label>
        </div>
        <div class="col-md-5">
      <div>
      <div class="checkbox checkbox-inline">
          <input type="checkbox" id="radio5" ng-model="storeCtrl.maxPrice" ng-true-value= "10" ng-false-value="">
          <label for="radio5">
              Menor a 10.000
          </label>
      </div>
      <div class="checkbox checkbox-inline">
          <input type="checkbox" id="radio6" ng-model="storeCtrl.minPrice" ng-true-value="30" ng-false-value="">
          <label for="radio6">
              Mayor a 30.000
          </label>
      </div>

    

      

    </div>


        </div>
        
        <!-- Custom filter by price
        <div class="col-md-2">
          <div class="input-group">
            <span class="input-group-addon">$ </span>
            <input type="number" class="form-control" ng-model="storeCtrl.minPriceCurrency" placeholder="Min">
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="input-group">
            <span class="input-group-addon">$ </span>
            <input type="number" class="form-control" ng-model="storeCtrl.maxPriceCurrency" placeholder="Max ">
          </div>
        </div>

        -->
        
      </div>
      
      <div class="form-group">
        <div class="col-md-1">
          <label class="control-label">Otros</label>
        </div>
        <div class="col-md-5">
      <div>
      <div class="radio radio-inline">
          <input type="radio" id="radioAvailable" ng-model="storeCtrl.checkAvailableFilter" ng-value=true>
          <label for="radioAvailable">
              Disponible
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" id="radioNotAvailable" ng-model="storeCtrl.checkAvailableFilter" ng-value=false>
          <label for="radioNotAvailable">
              Agotado
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" id="radioAvailableAll" ng-model="storeCtrl.checkAvailableFilter" ng-value="">
          <label for="radioAvailableAll">
              Todos
          </label>
      </div>
      
      <div class="checkbox checkbox-inline">
          <input type="checkbox" id="checkBestSellerFilter" ng-model="storeCtrl.checkBestSellerFilter" ng-true-value=true ng-false-value="">
          <label for="checkBestSellerFilter">
              Más Vendidos
          </label>
      </div>

    

      

    </div>


        </div>
        
      

      </div>

      
      
      
    </div>
  </div>
  <div class="section">
    <div class="section-title">Ordenar Productos</div>
    <div class="section-body">
      <!-- Form group here -->
      
      <div class="form-group">
        <div class="col-md-1">
          <label class="control-label">Otros</label>
        </div>
        <div class="col-md-5">
      <div>
      <div class="radio radio-inline">
          <input type="radio" name="checkSoldOutGroup" id="checkSoldOut" ng-model="storeCtrl.checkSoldOut" ng-value="'available'">
          <label for="checkSoldOut">
              Agotados
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" name="checkSoldOutGroup" id="checkAvailable" ng-model="storeCtrl.checkSoldOut" ng-value="'-available'">
          <label for="checkAvailable">
              Disponible
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" name="checkSoldOutGroup" id="checkAll" ng-model="storeCtrl.checkSoldOut" ng-value="''" >
          <label for="checkAll">
              Al azar
          </label>
      </div>
          <div class="checkbox checkbox-inline">
          <input type="checkbox"  id="checkBestSeller" ng-model="storeCtrl.checkBestSeller" ng-true-value="'-best_seller'">
          <label for="checkBestSeller">
              Más vendidos
          </label>
      </div>
      
    

      

    </div>


        </div>
        
      

      </div>
    </div>
  </div>
</form>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card ">
        
        <div class="card-header">
          Encuentra aqui todos los productos de nuestra tienda 
          
            <br>
            <b>Resultados: </b> {{query.length}} 
          
        </div>
        
        <div class="card-body no-padding">
          <div  class="" id="tab1">
            <div class="search-result">
              <ul class="result">
                <li ng-repeat="product in query = ( storeCtrl.products | priceMin:storeCtrl.minPrice | priceMax:storeCtrl.maxPrice  |bestSeller:storeCtrl.checkBestSellerFilter |  available:storeCtrl.checkAvailableFilter |category:storeCtrl.categorySearch | filter:{ name: productNameSearch } | filter: {best_seller: checkBestSeller} | orderBy: '-price' | orderBy:storeCtrl.checkSoldOut | orderBy: storeCtrl.checkBestSeller | orderBy:'price')">
                  <div class="img">
                    <img ng-src="{{product.img}}">
                  </div>
                  <div class="info">
                    <div class="title"><a href="#"><span class="highlight">{{product.name}}</span> {{product.price | number :3}}</a></div>
                    <div class="description">{{product.description}}</div>
                  <ul class=icons>
                    <li ng-show="{{product.available}}"><i class="fa fa-check" style="border:none,"></i>
                    <div>Available</div>
                    </li>
                    <li ng-show="{{!product.available}}"><i class="fa fa-close" style="border:none,"></i>
                    <div>Not Available</div>
                    </li>
                    <li ng-show="{{product.best_seller}}"><i class="fa fa-certificate" style="border:none,"></i>
                    <div>best Seller</div>
                    </li>
                  </ul>
                  <button class="btn btn-primary">Agregar al Carrito</button> 
                  </div>
                </li>
                
                
              </ul>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>  </div>
  
 
</body>

    
</html>