<div class="row">
    <div class="col-lg-12">
      <div class="card card-tab">
        <div class="card-header">
        </div>
        <div class="card-body">
          <div>
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div class="section">
                  <div class="section-title"><i class="icon"></i> Estilos</div>
                  <div class="section-body __indent">
                      Bootstrap v 3.3.7 <br>
                      Flat Admin Template v 3.0</div>
                </div>
                <div class="section">
                  <div class="section-title"><i class="icon" aria-hidden="true"></i> Framework</div>
                  <div class="section-body __indent">Angular JS v 1.6.1
                  </div>
                </div>
                <div class="section">
                  <div class="section-title"><i class="icon" aria-hidden="true"></i> Conceptos</div>
                  <div class="section-body __indent">Single Page Application
                  <br>Modulos
                  <br>Múltiples Controladores
                  <br>Filtros
                  <br>Componentes
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-sm-12">
                <div class="section">
                  <div class="section-title">Desarollo </div>
                  <div class="section-body">
                    <div class="media social-post">
                      <div class="media-left">
                        <a href="#">
                            <img class="profile-img" src="https://avatars2.githubusercontent.com/u/17608169?v=3&amp;s=460">
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="media-heading">
                          <h4 class="title">Sebastian Guevara</h4>
                          <h5 class="timeing">Desarollada por </h5>
                        </div>
                        <div class="media-content" style="text-align:justify">
                            Tienda en linea donde el usuario puede realizar agregar productos a su carro de compras. La tienda provee 
                            la facilidad al usuario de filtrar los productos por <b> Nombre - Disponibilidad - Precio </b>  y a su vez organizarlos
                            por estos criterios.
                            El usuario puede agregar y elminar cuantos productos desee al carro de compras.
                            <br>
                            <br>
                            Si usted desea cambiar los datos de los productos por favor proporcione el link del archivo en JSON aquí:
                            <br>
                            <br>
                              <div ng-controller="storeController as storeCtrl">
                                <form name="JSONForm">
                                  <input type="url" name="JSONUrl" class="form-control" ng-model="storeCtrl.url" placeholder="JSON Data Url">
                                </form>
                            <button class="btn btn-primary" ng-show="JSONForm.JSONUrl.$valid && storeCtrl.url.length > 0 "ng-click="storeCtrl.getExternalData(storeCtrl.url)">Cambiar Data</button>  
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>