 <div class>
        <div >
          <div class="modal-header">
            <h4 class="modal-title">No se han encontrado productos</h4>
          </div>
          <div class="modal-body">
            <p>Se ha cumplido la petición correctamente, pero el archivo no es válido.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="closeThisDialog(0)">OK</button>
          </div>
        </div>
      </div>

