 <div class>
        <div >
          <div class="modal-header">
            <h4 class="modal-title">Producto Agregado</h4>
          </div>
          <div class="modal-body">
            <p>Se ha agregado el producto a el carrito de compras</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ui-sref="cart" ng-click="closeThisDialog(0)">Finalizar Compra</button>
            <button type="button" class="btn btn-sm btn-success" ng-click="closeThisDialog(0)">Seguir Comprando</button>
          </div>
        </div>
      </div>

